@page "/"

<PageTitle>Home</PageTitle>

<h1>Zak's Website</h1><br>

"Welcome to my website! I built this website using Blazor (C# and HTML) and have connected it to a database I created in MySQL (found on the games page).
<br>
<br>
My website serves as a portfolio piece as well as a blog which I work on in my free time."



